html {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 50px;
  background: #fff;
  border: solid 3px gainsboro;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(41, 38, 38, 0.4);
}

.live {
  margin-bottom: 35px;
}

.title_content,
.date_content,
.time_content,
.place_content,
.description_content,
.deadline_content {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.live__title,
.live__date,
.live__time,
.live__place,
.live__description,
.live__deadline {
  margin: 0 auto;
  margin-top: 7px;
  margin-bottom: 3px;
  font-weight: bold;
}

label {
  display: block;
  margin-top: 5px;
}

input[type='text'] {
  padding: 8px;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 5px;
  margin: 5px 0;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

button:hover {
  background-color: #0069d9;
}

@media screen and (max-width: 480px) {
  input[type='text'] {
    width: 100%;
  }
  button {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 30%;
  }
}
