# frontend
Registration/frontend/node_modules

# backend
Registration/backend/node_modules
Registration/backend/serviceAccountKey.json
Registration/backend/python/venv
Registration/backend/python/__pycache__
Registration/backend/tmp/*
Registration/backend/uploads/*
Registration/backend/downloads/*
Registration/backend/images
Registration/backend/source_images/*
Registration/backend/training/*

# app
FaceRecognition/node_modules
FaceRecognition/.env
FaceRecognition/.parcel-cache
FaceRecognition/dist