# frontend
frontend/node_modules

# backend
backend/node_modules
backend/serviceAccountKey.json
backend/python/venv
backend/python/__pycache__
backend/tmp/*
backend/uploads/*
backend/images
backend/source_images/*

# general
