{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "standard",
    "prettier",
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/display-name": "off",
    "react/prop-types": "off",
    "import/order": [
      2,
      {
        "alphabetize": {
          "order": "asc"
        }
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "none",
        "endOfLine": "crlf",
        "semi": false,
        "singleQuote": true,
        "printWidth": 80,
        "tabWidth": 2
      }
    ]
  },
  "ignorePatterns": ["src/stories/*"]
}
