`
<!DOCTYPE html>
<html>

<head>
  <title>ライブ情報の登録</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../public/edit.css">
</head>

<body>
  <form action="http://127.0.0.1:3000/api/v1/edit/<%= liveId %>" method="POST">
    <label for="liveName">ライブ名称:</label>
    <input type="text" id="liveName" name="liveName" value="<%= liveName %>" required>

    <label for="date">日付:</label>
    <input type="date" id="datepicker" name="date" value="<%= date %>" required>

    <label for="time">時間:</label>
    <input type="time" id="eventTime" class="eventTime" name="time" value="<%= time %>" required>

    <label for="venue">会場:</label>
    <input type="text" id="place" id="eventLocation" name="place" value="<%= place %>" required>

    <label for="description">説明:</label>
    <input type="text" id="description" name="description" value="<%= description %>" required>

    <label for="deadline">申し込み締め切り:</label>
    <input type="text" id="deadline" name="deadline" value="<%= deadline %>" required>

    <label for="edit">編集用パスワード:</label>
    <input type="text" id="deletePassword" name="deletePassword" value="<%= deletePassword %>" required>

    <input type="submit" value="編集">
  </form>
</body>

</html>
`