@media screen and(max-width: 480px) {
  img {
    border: 0;
  }
}
@media screen and(min-width: 1280px) {
  img {
    border: 1px solid red;
  }
}
html {
  background-color: rgb(154, 242, 187);
}
.create {
  display: inline-block;
  border-radius: 5%; /* 角丸       */
  font-size: 20pt; /* 文字サイズ */
  text-align: center; /* 文字位置   */
  cursor: pointer; /* カーソル   */
  padding: 12px; /* 余白       */
  background: rgb(130, 215, 252); /* 背景色     */
  color: #ffffff; /* 文字色     */
  line-height: 1em; /* 1行の高さ  */
  transition: 0.3s; /* なめらか変化 */
  margin-bottom: 40px;
}
.delete {
  display: inline-block;
  border-radius: 5%; /* 角丸       */
  font-size: 20pt; /* 文字サイズ */
  text-align: center; /* 文字位置   */
  cursor: pointer; /* カーソル   */
  padding: 12px; /* 余白       */
  background: rgb(245, 154, 127); /* 背景色     */
  color: #ffffff; /* 文字色     */
  line-height: 1em; /* 1行の高さ  */
  transition: 0.3s; /* なめらか変化 */
}
h1 {
  margin-left: 20%;
}
section {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
}
body {
  margin-top: 60%;
}

a {
  text-decoration: none;
  color: gainsboro;
}
