html {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 30px;
}

form {
  text-align: center;
}

input[type='date'] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin: 10px 0;
}

input[type='text'] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin: 10px 0;
}

label[for='eventLocation'],
input[type='text#eventLocation'] {
  display: block;
  margin-top: 10px;
}

label[for='eventDescription'],
textarea#eventDescription {
  display: block;
  margin-top: 10px;
  width: 100%;
}

label[for='deadline'],
input[type='date#deadline'] {
  display: block;
  margin-top: 10px;
}
label[for='DeletePassword'],
input[type='text#eventLocation'] {
  display: block;
  margin-top: 10px;
}
#CoppyButton {
  margin-right: 300px;
}

.create-button {
  background-color: #00c6ff;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}
.back-button {
  text-decoration: none;
  color: #00c6ff; /* 青いテキスト */
  background: transparent; /* 背景を透明にする */
  padding: 5px 10px;
  border: 1px solid #00c6ff; /* ボーダーを追加 */
  border-radius: 5px;
  margin-top: 0px;
  margin-left: 0px;
  display: inline-block;
  transition: background 0.3s, color 0.3s;
}

@media screen and(max-width: 480px) {
  img {
    border: 0;
  }
}
@media screen and(min-width: 1280px) {
  img {
    border: 1px solid red;
  }
}
