@media screen and (max-width: 480px) {
    img {
        border: 0;
    }
}

@media screen and (min-width: 1280px) {
    img {
        border: 1px solid red;
    }
}

.camera {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

#video {
    width: 100%;
    max-width: 600px;
    height: 450px; /* Adjust the height to maintain a 4:3 aspect ratio (450px = 600px * 3 / 4) */
}

#recode-start{
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    width: 100px;
    padding: 10px;
    text-size-adjust: auto;
    background-color: #99FFFF;
}

.movie {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

#movie {
    width: 100%;
    max-width: 600px;
    height: auto; /* Let the height adjust automatically based on the aspect ratio of the video */
}

.ret-element {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}