<!DOCTYPE html>
<html lang="en">
<head>
<!-- <style type="text/css">
body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f4f4f4; /* ページの背景色を設定（任意の色に変更可能） */
}

.message {
    padding: 20px;
    border: 1px solid #ccc;
  background-color: #fff; /* メッセージボックスの背景色を設定（任意の色に変更可能） */
}
p {
    font-size: large;
}

</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="UserRegistration_end.css">
    <title>登録完了</title>
</head> -->
<!-- <body>
    <div class="message">
    <p>登録完了しました！<br>このままページを閉じてください。<br>5秒後にこのページは自動で閉じられます</p>
    </div> -->
    <script>
        alert("送信完了しました！そのままページを閉じてください。")
</script>
</body>
</html>
